.sidebars img {
    width: 25%;
    border: 0;
    box-shadow: none;
  }
.sidebarm img {
    width: 50%;
    border: 0;
    box-shadow: none;
  }

.sidebarl img {
    width: 75%;
    border: 0;
    box-shadow: none;
  }