.smallimage img {
    width: 25%;
}
.medimage img {
    width: 50%;
}
.largeimage img {
    width: 90%;
}
.reveal section img {
  border: 0;
  box-shadow: none;
}

.footerText p {
  font-size: 14px;
}