.sidebarS img {
    width: 25%;
    border: 0;
    box-shadow: none;
  }
.sidebarM img {
    width: 50%;
    border: 0;
    box-shadow: none;
  }

.sidebarL img {
    width: 75%;
    border: 0;
    box-shadow: none;
  }